
body {
    /* background: #121212 */
}

#search-bar {
    margin-left: 10vw;
    display: flex;
    align-items: center;
}

#search-bar h1 {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f4c518;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}

#search-bar input {
    margin-left: 20px;
    height: 30px;
    width: 70px;
    border: 5px;
}

#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 2rem auto;
}

.movie-card {
    width: 90%;
    border-radius: 10px;
    margin-left: 50%;
    margin-right: 20%;
}

.movie-card img {
    width: 90%;
}

.movie-card h1 {
    padding-left: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

form {
    border: 2px;
}

#sidebar {
    position: absolute;
    margin: 15px 20px 3px 20px;
}

#sidebar p {
    margin-bottom: 30px;
    background-color: gray;
    padding: 15px 10px;
}

#Genres {
    display: flex;
    width: 97%;
    margin-left: 5px;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
}